body {
  font-family: helvetica, sans-serif;
  background-color: #F8F8F8	;
  font-weight: 100;
}

h1 {
  color: #736ee1;
}

svg {
  display: block;
}

.container {
  max-width: 1024px;
}



#mapContainer {
  width: 1024px;
  height: 576px;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
